extends layout

block content
  h1 Members Area
  p Welcome to the Jungle
  != messages()   
  //- step 9 visualizzo messaggio di successo di registrazione linea 6 => STEP 10 style.css: stilizzo il messaggio